.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 7vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: calc(10px + 1vmin);
  color: white;
}

a {
  color: #FFF;
  text-decoration: none;
  margin-left: 10px;
}

a:hover {
  color: #00F
}

.cond-block {
  margin: auto 10%;
}

.cond-str {
  margin-top: 20px;
  text-align: center;
}

.cond-list {
  margin: 20px auto;
  width: 80%;
  text-align: center;
}

.list-heading {
  background-color: #0d0d0d;
  color: #dfdfdf;
  font-size: x-large;
}

.single-cond {
  margin-top: 5px;
  border-bottom: #000 1px solid;
  cursor: pointer;
}
